{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Registered Gym Users</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>UserID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Email</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['UserID'] }}</td>
                <td>{{ user['FirstName'] }}</td>
                <td>{{ user['LastName'] }}</td>
                <td>{{ user['DateOfBirth'] }}</td>
                <td>{{ user['Email'] }}</td>
                <td>{{ user['PhoneNumber'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin_logout') }}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
