<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
<!--    <link rel="stylesheet" href="../static/styles.css">-->
    <title>{{title}} Page</title>
</head>
<body>
<header>
<!--    {% if is_morning %}-->
    <p>Hi</p>

</header>
<h1>{{ title }}</h1>
{% block body_content %}
{% endblock %}
</body>
</html>
