{% extends "layout.html" %}

{% block content %}
  <h2>Membership Plans</h2>
  <p>Choose from our various membership plans:</p>

  <ul class="list-group">
    <li class="list-group-item">
      <h5>Basic Plan</h5>
      <p>Access to all fitness classes with limited bookings per month.</p>
      <button class="btn btn-primary">Sign Up</button>
    </li>
    <li class="list-group-item">
      <h5>Premium Plan</h5>
      <p>Unlimited access to all fitness classes and priority booking.</p>
      <button class="btn btn-primary">Sign Up</button>
    </li>
  </ul>
{% endblock %}
