
body {
    background-color: #fff0f5; /* light pink */
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #ffc0cb; /* millennial pink */
}

.navbar-brand {
    font-weight: bold;
}



